<header class="page-header">
    <div class="container">
        <div class="page-header-flex-wrap no-margin-bottom">
            <h1 class="page-title section-header"><b>Contact Us</b></h1>
        </div>
    </div>
</header>
<section class="section medium">
    <div class="container">
        <div class="container-small">
            <div class="contact-info-block">
                <div class="contact-info-flex-wrap">
                    <div class="contact-info-content"><img
                            src="https://assets.website-files.com/5f0763bf575ff70f2f96ccaa/5f0dc6844ceca0bfc12d44e0_explore-white.svg"
                            alt="" class="contact-info-icon" />
                            <div class="footer-address-text">PGEHS<br />PHASE II, Plot 102<br />Lahore,Punjab 
                                Pakistan</div>
                    </div>
                    <div class="contact-info-content center"><img
                            src="https://assets.website-files.com/5f0763bf575ff70f2f96ccaa/5f0efaf7a1c9062047ecbfd8_phone-white.svg"
                            alt="" class="contact-info-icon" />
                        <div class="contact-info-text"><a href="tel:800-000-0000"
                                class="contact-utility-link">03070033237</a></div>
                    </div>
                    <div class="contact-info-content"><img
                            src="https://assets.website-files.com/5f0763bf575ff70f2f96ccaa/5f0efaf7bfc9742306eff8c5_envelope-white.svg"
                            alt="" class="contact-info-icon" />
                        <div class="contact-info-text"><a href="mailto:company@domain.com"
                                class="contact-utility-link">Infosoftbitsitebuilder@gmail.com</a></div>
                    </div>
                </div>
            </div>
            {% for message in messages %}

   
            <strong style="color:aqua;">{{message}}</strong>
             
          {% endfor %}
            <div class="contact-form w-form">
                
                <form method="post"   action="/contact/"
                     >
                     {% csrf_token %}
                    <div class="text-field-flex-wrap">
                        <div class="text-field-wrap small-margin-bottom"><label for="Sign-In-First-Name"
                                class="field-label">Name</label><input class="text-field w-input"
                                maxlength="256" name="Sign-In-First-Name" data-name="Sign In First Name"
                                placeholder="First Name" type="text" id="Sign-In-First-Name" required="" />
                        </div>
                        <div class="text-field-spacer"></div>
                        <div class="text-field-wrap small-margin-bottom"><label for="Sign-In-Last-Name"
                                class="field-label">Email</label><input class="text-field w-input"
                                maxlength="256" name="email" data-name="Sign In Last Name"
                                placeholder="Last Name" type="email" id="Sign-In-Last-Name" required="" /></div>
                    </div>
                    <div class="text-field-wrap small-margin-bottom"><label for="Sign-In-Last-Name"
                        class="field-label">Phone</label><input class="text-field w-input"
                        maxlength="256" name="phone" data-name="Sign In Last Name"
                        placeholder="Last Name" type="text" id="Sign-In-Last-Name" required="" /></div>
            </div>
                     
                    
                    <div class="text-field-wrap large-margin-bottom"><label for="email"
                            class="field-label">Message</label><textarea
                            placeholder="How can we help you today..." maxlength="5000" id="field" name="message"
                            data-name="Field" class="text-field min-height w-input"></textarea></div><input id="showSpinnerButton"
                        type="submit" data-wait="Please wait..." class="filled-btn full-width w-button"
                        value="Submit" />
                </form>
                 
            </div>
        </div>
    </div>
</section>
 
 