<header class="page-header">
    <div class="container">
        <div class="page-header-flex-wrap no-margin-bottom">
            <h1 class="page-title section-header"><b>Contact Us</b></h1>
        </div>
    </div>
</header>
<section class="section medium">
    <div class="container">
        <div class="container-small">
            <div class="contact-info-block">
                <div class="contact-info-flex-wrap">
                    <div class="contact-info-content"><img
                            src="https://assets.website-files.com/5f0763bf575ff70f2f96ccaa/5f0dc6844ceca0bfc12d44e0_explore-white.svg"
                            alt="" class="contact-info-icon" />
                        <div class="contact-info-text">3880 Braxton Street<br />Chicago, il 60606<br />United
                            States</div>
                    </div>
                    <div class="contact-info-content center"><img
                            src="https://assets.website-files.com/5f0763bf575ff70f2f96ccaa/5f0efaf7a1c9062047ecbfd8_phone-white.svg"
                            alt="" class="contact-info-icon" />
                        <div class="contact-info-text"><a href="tel:800-000-0000"
                                class="contact-utility-link">800-000-0000</a></div>
                    </div>
                    <div class="contact-info-content"><img
                            src="https://assets.website-files.com/5f0763bf575ff70f2f96ccaa/5f0efaf7bfc9742306eff8c5_envelope-white.svg"
                            alt="" class="contact-info-icon" />
                        <div class="contact-info-text"><a href="mailto:company@domain.com"
                                class="contact-utility-link">info@softbit.com</a></div>
                    </div>
                </div>
            </div>
            {% for message in messages %}

   
            <strong style="color:aqua;">{{message}}</strong>
             
          {% endfor %}
            <div class="contact-form w-form">
                
                <form method="post"   action="/contact/"
                     >
                     {% csrf_token %}
                    <div class="text-field-flex-wrap">
                        <div class="text-field-wrap small-margin-bottom"><label for="Sign-In-First-Name"
                                class="field-label">Name</label><input class="text-field w-input"
                                maxlength="256" name="Sign-In-First-Name" data-name="Sign In First Name"
                                placeholder="First Name" type="text" id="Sign-In-First-Name" required="" />
                        </div>
                        <div class="text-field-spacer"></div>
                        <div class="text-field-wrap small-margin-bottom"><label for="Sign-In-Last-Name"
                                class="field-label">Email</label><input class="text-field w-input"
                                maxlength="256" name="email" data-name="Sign In Last Name"
                                placeholder="Last Name" type="email" id="Sign-In-Last-Name" required="" /></div>
                    </div>
                    <div class="text-field-wrap small-margin-bottom"><label for="Sign-In-Last-Name"
                        class="field-label">Phone</label><input class="text-field w-input"
                        maxlength="256" name="phone" data-name="Sign In Last Name"
                        placeholder="Last Name" type="text" id="Sign-In-Last-Name" required="" /></div>
            </div>
                     
                    
                    <div class="text-field-wrap large-margin-bottom"><label for="email"
                            class="field-label">Message</label><textarea
                            placeholder="How can we help you today..." maxlength="5000" id="field" name="message"
                            data-name="Field" class="text-field min-height w-input"></textarea></div><input
                        type="submit" data-wait="Please wait..." class="filled-btn full-width w-button"
                        value="Submit" />
                </form>
                <div class="success-message w-form-done">
                    <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="error-message w-form-fail">
                    <div>Oops! Something went wrong while submitting the form.</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="container-small">
            <div class="faq-flex-wrapper">
                <div class="half-div">
                    <div class="subheading">We&#x27;re here to help</div>
                    <h2 class="section-title in-half-div">Frequently Asked Questions</h2>
                </div>
                <div class="faq-wrapper">
                    <div data-hover="false" data-delay="300" class="faq-dropdown w-dropdown">
                        <div class="faq-dropdown-toggle w-dropdown-toggle">
                            <div class="faq-icon-block">
                                <div class="faq-icon-line"></div>
                                <div class="faq-icon-line rotate"></div>
                            </div>
                            <div class="faq-title">Can I get a free demo for one of the premium plans?</div>
                        </div>
                        <nav class="faq-dropdown-list w-dropdown-list">
                            <p class="faq-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis
                                viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
                                Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem
                                vitae risus tristique posuere.</p>
                        </nav>
                    </div>
                    <div data-hover="false" data-delay="300" class="faq-dropdown w-dropdown">
                        <div class="faq-dropdown-toggle w-dropdown-toggle">
                            <div class="faq-icon-block">
                                <div class="faq-icon-line"></div>
                                <div class="faq-icon-line rotate"></div>
                            </div>
                            <div class="faq-title">Is it possible to cancel my subscription?</div>
                        </div>
                        <nav class="faq-dropdown-list w-dropdown-list">
                            <p class="faq-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis
                                viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
                                Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem
                                vitae risus tristique posuere.</p>
                        </nav>
                    </div>
                    <div data-hover="false" data-delay="300" class="faq-dropdown w-dropdown">
                        <div class="faq-dropdown-toggle w-dropdown-toggle">
                            <div class="faq-icon-block">
                                <div class="faq-icon-line"></div>
                                <div class="faq-icon-line rotate"></div>
                            </div>
                            <div class="faq-title">Can I recover my pricing plan after cancelling it?</div>
                        </div>
                        <nav class="faq-dropdown-list w-dropdown-list">
                            <p class="faq-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis
                                viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
                                Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem
                                vitae risus tristique posuere.</p>
                        </nav>
                    </div>
                    <div data-hover="false" data-delay="300" class="faq-dropdown w-dropdown">
                        <div class="faq-dropdown-toggle w-dropdown-toggle">
                            <div class="faq-icon-block">
                                <div class="faq-icon-line"></div>
                                <div class="faq-icon-line rotate"></div>
                            </div>
                            <div class="faq-title">How can SoftBit help my business?</div>
                        </div>
                        <nav class="faq-dropdown-list w-dropdown-list">
                            <p class="faq-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis
                                viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
                                Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem
                                vitae risus tristique posuere.</p>
                        </nav>
                    </div>
                    <div data-hover="false" data-delay="300" class="faq-dropdown w-dropdown">
                        <div class="faq-dropdown-toggle w-dropdown-toggle">
                            <div class="faq-icon-block">
                                <div class="faq-icon-line"></div>
                                <div class="faq-icon-line rotate"></div>
                            </div>
                            <div class="faq-title">Which pricing plans do you offer and what&#x27;s included?
                            </div>
                        </div>
                        <nav class="faq-dropdown-list w-dropdown-list">
                            <p class="faq-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis
                                viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
                                Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem
                                vitae risus tristique posuere.</p>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>