 

      <header class="page-header">
        <div class="container">
          <div class="page-header-flex-wrap no-margin-bottom">
            <h1 class="page-title section-header on-blog-list-page">Inspirational advice &amp; insightful guides from our experts</h1>
          </div>
        </div>
      </header>
      <section class="section">
        <div class="container">
          <div class="blog-list-page-grid">
            <div class="w-dyn-list">
              <div role="list" class="w-dyn-items">
                {% for site in allsite %}
                <div id="w-node-_3ef32481-37d6-e25e-8a6a-899c70761be7-1da7ef83" role="listitem" class="blog-post-wrapper w-dyn-item">
                  <a href="{% url 'sitedetail' site.id %}" class="blog-post-listing-content-v2 margin-bottom w-inline-block">
                    <div class="featured-label">
                      <div>{{site.category}}</div>
                    </div>
                    <div class="blog-info-wrap">
                      <div class="blog-info-block">
                        <div style="background-color:orangered" class="blog-category-label">{{site.name}}</div>
                        <div class="blog-date-and-author-block">
                          <div class="blog-date-and-author-text">{{site.date}}</div>
                          <div class="blog-date-and-author-text mute">by</div>
                          <div class="blog-date-and-author-text">{{site.developer}}</div>
                        </div>
                      </div><h4 class="blog-listing-title v2">{{site.summery | truncatewords:10}}</h4>
                    </div>
                    <div class="blog-post-listing-img-wrapper flex-center">
                      <div class="page-header-img-overlay"></div><img src="{{site.image1.url}}" class="blog-post-img v2" />
                    </div>
                  </a>

                </div>
                {% endfor %}
                
              </div>
               
            </div>
            <aside id="w-node-c1440908-5989-c093-fe99-79f290e1dccf-1da7ef83" class="blog-list-page-right">
              <div class="blog-sidebar-block">
                <div class="blog-sidebar-title">Top Rateded Sites</div>

                <div class="w-dyn-list">
                  <div role="list" class="blog-post-listing-grid-v2 w-dyn-items">
                    {% for toprated in toprated %}
                    <div id="w-node-cb14326c-022d-57d3-07b4-a348610f2886-1da7ef83" role="listitem" class="blog-post-wrapper w-dyn-item">
                      <a href="{% url 'sitedetail' toprated.id %}" class="blog-post-list-view-content in-sidebar w-inline-block">
                        <div class="blog-post-listing-img-wrapper list-view in-sidebar">
                          <div class="featured-label list-view in-sidebar">
                            <div>{{toprated.name}}</div>
                          </div>
                          <div class="page-header-img-overlay list-view"></div><img src="{{toprated.image1.url}}" class="blog-post-img list-view" />
                        </div>
                        <div class="blog-info-wrap list-view in-sidebar">
                          <h4 class="blog-listing-title in-sidebar">{{toprated.summery}}</h4><div class="btn-arrow in-blog-list-view"> 
                            <div class="btn-arrow-text">Buy Now</div><img src="https://assets.website-files.com/5f0763bf575ff70f2f96ccaa/5f077a6ea949dfb6a02f5bf6_arrow-right-white.svg" alt="" class="filled-btn-arrow-icon in-blog-list-view" />
                          </div>
                        </div>
                      </a>
                    </div>
                    {% endfor %}
                     
                  </div>
                </div>
              </div>
              <div class="blog-sidebar-block">
                <div class="blog-sidebar-title">Categories</div>
                <div class="w-dyn-list">
                  <div role="list" class="w-dyn-items">
                    {% for category in category  %} 
                    <div role="listitem" class="blog-cat-collection w-dyn-item">
                      <a style="background-color:aqua" href="" hx-get="{% url 'sites_by_category' category.id %}" hx-push-url="{% url 'sites_by_category' category.id %}" hx-target="#change"  class="blog-category-label margin-top">{{category.name}}</a>
                    </div>
                    {% endfor %}
                    
                  </div>
                </div>
              </div>
              <div class="blog-sidebar-block">
                <div class="blog-sidebar-title">Follow Us</div>
                <div class="social-block">
                  <a href="#" class="social-block-link fb w-inline-block"></a><a href="#" class="social-block-link twitter w-inline-block"></a><a href="#" class="social-block-link insta w-inline-block"></a>
                </div>
              </div>
            </aside>
          </div>
        </div>
      </a >
      <div id="popup" class="fixed inset-0 flex items-center justify-center hidden bg-black bg-opacity-50 z-50">
        <div class="bg-blue-900 rounded-lg p-8 max-w-md w-full text-white">
          <button id="closeBtn" class="absolute top-0 right-0 mt-2 mr-2 text-white hover:text-gray-300">&times;</button>
          <div class="text-center">
            <img src="{% for data in data  %}{{data.offerimage}}{% endfor %}" class="mx-auto mb-4" alt="Popup Image" style="max-width: 200px;">
            <h2 class="text-2xl font-bold mb-2"{% for data in data  %}{{data.offername}}{% endfor %}></h2>
            <p class="mb-4">{% for data in data  %}{{data.offerprice}}{% endfor %}% {% for data in data  %}{{data.offerprice}}{% endfor %}</p>
          </div>
          <div class="text-center">
            <button id="popupBtn" class="bg-white text-blue-900 font-bold py-2 px-4 rounded-full hover:bg-blue-800 hover:text-white transition duration-300"><a href='{% url 'oursites' %}' style="text-decoration: none;">Button</a></button>
          </div>
        </div>
      </div>

      <script>
        document.addEventListener("DOMContentLoaded", function() {
          const popup = document.getElementById('popup');
          const closeBtn = document.getElementById('closeBtn');
          const popupBtn = document.getElementById('popupBtn');
      
          // Check if popup is shown before
          const isPopupShown = localStorage.getItem('popupShown');
      
          if (!isPopupShown) {
            popup.classList.remove('hidden');
          }
      
          // Close popup when close button is clicked
          closeBtn.addEventListener('click', function() {
            popup.classList.add('hidden');
            // Set a flag in local storage to indicate popup has been shown
            localStorage.setItem('popupShown', true);
          });
      
          // Close popup when popup button is clicked
          popupBtn.addEventListener('click', function() {
            popup.classList.add('hidden');
            // Set a flag in local storage to indicate popup has been shown
            localStorage.setItem('popupShown', true);
          });
        });
      </script>
      
      