{% extends 'base.html' %}
{% block title %} All Sites {% endblock title %}
{% block content %}
    
        <header class="page-header">
            <div class="container">
                <div class="page-header-flex-wrap no-margin-bottom">
                    <h1 class="page-title section-header on-blog-list-page">Inspirational advice &amp; insightful guides
                        from our experts</h1>
                </div>
            </div>
        </header>
        <section class="section">
            <div class="container">
                <div class="blog-list-page-grid">
                    <div class="w-dyn-list">
                        <div role="list" class="w-dyn-items">
                            <div id="w-node-_3ef32481-37d6-e25e-8a6a-899c70761be7-1da7ef83" role="listitem"
                                class="blog-post-wrapper w-dyn-item"><a
                                    href="/post/why-heatmaps-are-awesome-and-why-you-should-use-them-too"
                                    class="blog-post-listing-content-v2 margin-bottom w-inline-block">
                                    <div class="featured-label w-condition-invisible">
                                        <div>Featured</div>
                                    </div>
                                    <div class="blog-info-wrap">
                                        <div class="blog-info-block">
                                            <div style="background-color:#f1a12a" class="blog-category-label">Analytics
                                            </div>
                                            <div class="blog-date-and-author-block">
                                                <div class="blog-date-and-author-text">7/16/2020</div>
                                                <div class="blog-date-and-author-text mute">by</div>
                                                <div class="blog-date-and-author-text">Jesse Crawford </div>
                                            </div>
                                        </div>
                                        <h4 class="blog-listing-title v2">Why heatmaps are awesome and why you should
                                            use them too</h4>
                                    </div>
                                    <div class="blog-post-listing-img-wrapper flex-center">
                                        <div class="page-header-img-overlay"></div><img
                                            src="https://assets.website-files.com/5f0763bf575ff7f28b96ccb8/5f0cc9b068f7843622fe6541_brooke-cagle-195777-unsplash-2.jpg"
                                            alt=""
                                            sizes="(max-width: 479px) 90vw, (max-width: 767px) 94vw, (max-width: 991px) 95vw, (max-width: 1279px) 62vw, 789.328125px"
                                            srcset="https://assets.website-files.com/5f0763bf575ff7f28b96ccb8/5f0cc9b068f7843622fe6541_brooke-cagle-195777-unsplash-2-p-1080.jpeg 1080w, https://assets.website-files.com/5f0763bf575ff7f28b96ccb8/5f0cc9b068f7843622fe6541_brooke-cagle-195777-unsplash-2-p-1600.jpeg 1600w, https://assets.website-files.com/5f0763bf575ff7f28b96ccb8/5f0cc9b068f7843622fe6541_brooke-cagle-195777-unsplash-2.jpg 1920w"
                                            class="blog-post-img v2" />
                                    </div>
                                </a></div>
                            <div id="w-node-_3ef32481-37d6-e25e-8a6a-899c70761be7-1da7ef83" role="listitem"
                                class="blog-post-wrapper w-dyn-item"><a
                                    href="/post/this-is-how-you-write-the-perfect-elevator-pitch-for-your-startup"
                                    class="blog-post-listing-content-v2 margin-bottom w-inline-block">
                                    <div class="featured-label">
                                        <div>Featured</div>
                                    </div>
                                    <div class="blog-info-wrap">
                                        <div class="blog-info-block">
                                            <div style="background-color:#f03750" class="blog-category-label">Startups
                                            </div>
                                            <div class="blog-date-and-author-block">
                                                <div class="blog-date-and-author-text">7/16/2020</div>
                                                <div class="blog-date-and-author-text mute">by</div>
                                                <div class="blog-date-and-author-text">Denise Chavez</div>
                                            </div>
                                        </div>
                                        <h4 class="blog-listing-title v2">This is how you write the perfect elevator
                                            pitch for your startup</h4>
                                    </div>
                                    <div class="blog-post-listing-img-wrapper flex-center">
                                        <div class="page-header-img-overlay"></div><img
                                            src="https://assets.website-files.com/5f0763bf575ff7f28b96ccb8/5f0cc7f78f3f6d0c9205eeac_tech-staff-at-table-working%20(1).jpg"
                                            alt=""
                                            sizes="(max-width: 479px) 90vw, (max-width: 767px) 94vw, (max-width: 991px) 95vw, (max-width: 1279px) 62vw, 789.328125px"
                                            srcset="https://assets.website-files.com/5f0763bf575ff7f28b96ccb8/5f0cc7f78f3f6d0c9205eeac_tech-staff-at-table-working%20(1)-p-1080.jpeg 1080w, https://assets.website-files.com/5f0763bf575ff7f28b96ccb8/5f0cc7f78f3f6d0c9205eeac_tech-staff-at-table-working%20(1)-p-1600.jpeg 1600w, https://assets.website-files.com/5f0763bf575ff7f28b96ccb8/5f0cc7f78f3f6d0c9205eeac_tech-staff-at-table-working%20(1).jpg 1920w"
                                            class="blog-post-img v2" />
                                    </div>
                                </a></div>
                            <div id="w-node-_3ef32481-37d6-e25e-8a6a-899c70761be7-1da7ef83" role="listitem"
                                class="blog-post-wrapper w-dyn-item"><a
                                    href="/post/3-tech-companies-that-are-about-to-change-the-world"
                                    class="blog-post-listing-content-v2 margin-bottom w-inline-block">
                                    <div class="featured-label">
                                        <div>Featured</div>
                                    </div>
                                    <div class="blog-info-wrap">
                                        <div class="blog-info-block">
                                            <div style="background-color:#2cb66c" class="blog-category-label">Technology
                                            </div>
                                            <div class="blog-date-and-author-block">
                                                <div class="blog-date-and-author-text">7/16/2020</div>
                                                <div class="blog-date-and-author-text mute">by</div>
                                                <div class="blog-date-and-author-text">Michael Brewer</div>
                                            </div>
                                        </div>
                                        <h4 class="blog-listing-title v2">3 tech companies that are about to change the
                                            world</h4>
                                    </div>
                                    <div class="blog-post-listing-img-wrapper flex-center">
                                        <div class="page-header-img-overlay"></div><img
                                            src="https://assets.website-files.com/5f0763bf575ff7f28b96ccb8/5f0cc96febc6c85be0dc7b27_bob-cut-mag-0T0_8jG21ss-unsplash(1).jpg"
                                            alt=""
                                            sizes="(max-width: 479px) 90vw, (max-width: 767px) 94vw, (max-width: 991px) 95vw, (max-width: 1279px) 62vw, 789.328125px"
                                            srcset="https://assets.website-files.com/5f0763bf575ff7f28b96ccb8/5f0cc96febc6c85be0dc7b27_bob-cut-mag-0T0_8jG21ss-unsplash(1)-p-500.jpeg 500w, https://assets.website-files.com/5f0763bf575ff7f28b96ccb8/5f0cc96febc6c85be0dc7b27_bob-cut-mag-0T0_8jG21ss-unsplash(1)-p-800.jpeg 800w, https://assets.website-files.com/5f0763bf575ff7f28b96ccb8/5f0cc96febc6c85be0dc7b27_bob-cut-mag-0T0_8jG21ss-unsplash(1)-p-1080.jpeg 1080w, https://assets.website-files.com/5f0763bf575ff7f28b96ccb8/5f0cc96febc6c85be0dc7b27_bob-cut-mag-0T0_8jG21ss-unsplash(1).jpg 1515w"
                                            class="blog-post-img v2" />
                                    </div>
                                </a></div>
                            <div id="w-node-_3ef32481-37d6-e25e-8a6a-899c70761be7-1da7ef83" role="listitem"
                                class="blog-post-wrapper w-dyn-item"><a
                                    href="/post/this-is-how-you-can-target-a-sales-converting-audience"
                                    class="blog-post-listing-content-v2 margin-bottom w-inline-block">
                                    <div class="featured-label w-condition-invisible">
                                        <div>Featured</div>
                                    </div>
                                    <div class="blog-info-wrap">
                                        <div class="blog-info-block">
                                            <div style="background-color:#773ec1" class="blog-category-label">Marketing
                                            </div>
                                            <div class="blog-date-and-author-block">
                                                <div class="blog-date-and-author-text">7/16/2020</div>
                                                <div class="blog-date-and-author-text mute">by</div>
                                                <div class="blog-date-and-author-text">Laurel Green</div>
                                            </div>
                                        </div>
                                        <h4 class="blog-listing-title v2">This is how you can target a sales converting
                                            audience</h4>
                                    </div>
                                    <div class="blog-post-listing-img-wrapper flex-center">
                                        <div class="page-header-img-overlay"></div><img
                                            src="https://assets.website-files.com/5f0763bf575ff7f28b96ccb8/5f0cc8923944d52459e8e2bd_brooke-cagle-1181711-unsplash(1).jpg"
                                            alt=""
                                            sizes="(max-width: 479px) 90vw, (max-width: 767px) 94vw, (max-width: 991px) 95vw, (max-width: 1279px) 62vw, 789.328125px"
                                            srcset="https://assets.website-files.com/5f0763bf575ff7f28b96ccb8/5f0cc8923944d52459e8e2bd_brooke-cagle-1181711-unsplash(1)-p-1080.jpeg 1080w, https://assets.website-files.com/5f0763bf575ff7f28b96ccb8/5f0cc8923944d52459e8e2bd_brooke-cagle-1181711-unsplash(1)-p-1600.jpeg 1600w, https://assets.website-files.com/5f0763bf575ff7f28b96ccb8/5f0cc8923944d52459e8e2bd_brooke-cagle-1181711-unsplash(1).jpg 1920w"
                                            class="blog-post-img v2" />
                                    </div>
                                </a></div>
                            <div id="w-node-_3ef32481-37d6-e25e-8a6a-899c70761be7-1da7ef83" role="listitem"
                                class="blog-post-wrapper w-dyn-item"><a
                                    href="/post/7-things-to-look-out-for-when-analyzing-user-statistics"
                                    class="blog-post-listing-content-v2 margin-bottom w-inline-block">
                                    <div class="featured-label w-condition-invisible">
                                        <div>Featured</div>
                                    </div>
                                    <div class="blog-info-wrap">
                                        <div class="blog-info-block">
                                            <div style="background-color:#f1a12a" class="blog-category-label">Analytics
                                            </div>
                                            <div class="blog-date-and-author-block">
                                                <div class="blog-date-and-author-text">7/16/2020</div>
                                                <div class="blog-date-and-author-text mute">by</div>
                                                <div class="blog-date-and-author-text">Jesse Crawford </div>
                                            </div>
                                        </div>
                                        <h4 class="blog-listing-title v2">7 things to look out for when analyzing user
                                            statistics</h4>
                                    </div>
                                    <div class="blog-post-listing-img-wrapper flex-center">
                                        <div class="page-header-img-overlay"></div><img
                                            src="https://assets.website-files.com/5f0763bf575ff7f28b96ccb8/5f0cc6909c1a6bbffdae5af5_john-schnobrich-520022-unsplash(1).jpg"
                                            alt=""
                                            sizes="(max-width: 479px) 90vw, (max-width: 767px) 94vw, (max-width: 991px) 95vw, (max-width: 1279px) 62vw, 789.328125px"
                                            srcset="https://assets.website-files.com/5f0763bf575ff7f28b96ccb8/5f0cc6909c1a6bbffdae5af5_john-schnobrich-520022-unsplash(1)-p-1080.jpeg 1080w, https://assets.website-files.com/5f0763bf575ff7f28b96ccb8/5f0cc6909c1a6bbffdae5af5_john-schnobrich-520022-unsplash(1)-p-1600.jpeg 1600w, https://assets.website-files.com/5f0763bf575ff7f28b96ccb8/5f0cc6909c1a6bbffdae5af5_john-schnobrich-520022-unsplash(1).jpg 1920w"
                                            class="blog-post-img v2" />
                                    </div>
                                </a></div>
                        </div>
                        <div role="navigation" aria-label="List" class="w-pagination-wrapper pagination"><a
                                href="?70761be5_page=2" aria-label="Next Page" class="w-pagination-next filled-btn">
                                <div class="w-inline-block">Next</div> 
                            </a>
                            <link rel="prerender" href="?70761be5_page=2" />
                        </div>
                    </div>
                    <aside id="w-node-c1440908-5989-c093-fe99-79f290e1dccf-1da7ef83" class="blog-list-page-right">
                        <div class="blog-sidebar-block">
                            <div class="blog-sidebar-title">Featured Posts</div>
                            <div class="w-dyn-list">
                                <div role="list" class="blog-post-listing-grid-v2 w-dyn-items">
                                    <div id="w-node-cb14326c-022d-57d3-07b4-a348610f2886-1da7ef83" role="listitem"
                                        class="blog-post-wrapper w-dyn-item"><a
                                            href="/post/this-is-how-you-write-the-perfect-elevator-pitch-for-your-startup"
                                            class="blog-post-list-view-content in-sidebar w-inline-block">
                                            <div class="blog-post-listing-img-wrapper list-view in-sidebar">
                                                <div class="featured-label list-view in-sidebar">
                                                    <div>Featured</div>
                                                </div>
                                                <div class="page-header-img-overlay list-view"></div><img
                                                    src="https://assets.website-files.com/5f0763bf575ff7f28b96ccb8/5f0cc7f78f3f6d0c9205eeac_tech-staff-at-table-working%20(1).jpg"
                                                    alt=""
                                                    sizes="(max-width: 479px) 90vw, (max-width: 767px) 39vw, (max-width: 991px) 40vw, (max-width: 1279px) 13vw, 164.4375px"
                                                    srcset="https://assets.website-files.com/5f0763bf575ff7f28b96ccb8/5f0cc7f78f3f6d0c9205eeac_tech-staff-at-table-working%20(1)-p-1080.jpeg 1080w, https://assets.website-files.com/5f0763bf575ff7f28b96ccb8/5f0cc7f78f3f6d0c9205eeac_tech-staff-at-table-working%20(1)-p-1600.jpeg 1600w, https://assets.website-files.com/5f0763bf575ff7f28b96ccb8/5f0cc7f78f3f6d0c9205eeac_tech-staff-at-table-working%20(1).jpg 1920w"
                                                    class="blog-post-img list-view" />
                                            </div>
                                            <div class="blog-info-wrap list-view in-sidebar">
                                                <h4 class="blog-listing-title in-sidebar">This is how you write the
                                                    perfect elevator pitch for your startup</h4>
                                                <div class="btn-arrow in-blog-list-view">
                                                    <div class="btn-arrow-text">Read Article</div><img
                                                        src="https://assets.website-files.com/5f0763bf575ff70f2f96ccaa/5f077a6ea949dfb6a02f5bf6_arrow-right-white.svg"
                                                        alt="" class="filled-btn-arrow-icon in-blog-list-view" />
                                                </div>
                                            </div>
                                        </a></div>
                                    <div id="w-node-cb14326c-022d-57d3-07b4-a348610f2886-1da7ef83" role="listitem"
                                        class="blog-post-wrapper w-dyn-item"><a
                                            href="/post/3-tech-companies-that-are-about-to-change-the-world"
                                            class="blog-post-list-view-content in-sidebar w-inline-block">
                                            <div class="blog-post-listing-img-wrapper list-view in-sidebar">
                                                <div class="featured-label list-view in-sidebar">
                                                    <div>Featured</div>
                                                </div>
                                                <div class="page-header-img-overlay list-view"></div><img
                                                    src="https://assets.website-files.com/5f0763bf575ff7f28b96ccb8/5f0cc96febc6c85be0dc7b27_bob-cut-mag-0T0_8jG21ss-unsplash(1).jpg"
                                                    alt=""
                                                    sizes="(max-width: 479px) 90vw, (max-width: 767px) 39vw, (max-width: 991px) 40vw, (max-width: 1279px) 13vw, 164.4375px"
                                                    srcset="https://assets.website-files.com/5f0763bf575ff7f28b96ccb8/5f0cc96febc6c85be0dc7b27_bob-cut-mag-0T0_8jG21ss-unsplash(1)-p-500.jpeg 500w, https://assets.website-files.com/5f0763bf575ff7f28b96ccb8/5f0cc96febc6c85be0dc7b27_bob-cut-mag-0T0_8jG21ss-unsplash(1)-p-800.jpeg 800w, https://assets.website-files.com/5f0763bf575ff7f28b96ccb8/5f0cc96febc6c85be0dc7b27_bob-cut-mag-0T0_8jG21ss-unsplash(1)-p-1080.jpeg 1080w, https://assets.website-files.com/5f0763bf575ff7f28b96ccb8/5f0cc96febc6c85be0dc7b27_bob-cut-mag-0T0_8jG21ss-unsplash(1).jpg 1515w"
                                                    class="blog-post-img list-view" />
                                            </div>
                                            <div class="blog-info-wrap list-view in-sidebar">
                                                <h4 class="blog-listing-title in-sidebar">3 tech companies that are
                                                    about to change the world</h4>
                                                <div class="btn-arrow in-blog-list-view">
                                                    <div class="btn-arrow-text">Read Article</div><img
                                                        src="https://assets.website-files.com/5f0763bf575ff70f2f96ccaa/5f077a6ea949dfb6a02f5bf6_arrow-right-white.svg"
                                                        alt="" class="filled-btn-arrow-icon in-blog-list-view" />
                                                </div>
                                            </div>
                                        </a></div>
                                </div>
                            </div>
                        </div>
                       
                        <div class="blog-sidebar-block">
                            <div class="blog-sidebar-title">Follow Us</div>
                            <div class="social-block"><a href="#" class="social-block-link fb w-inline-block"></a><a
                                    href="#" class="social-block-link twitter w-inline-block"></a><a href="#"
                                    class="social-block-link insta w-inline-block"></a></div>
                        </div>
                    </aside>
                </div>
            </div>
        </section>

    </div>
 
    </div>
{% endblock   %}