{% extends 'dashboard.html'%}
{% block content %}      
<div class="sections-wrapper">
    <div class="settings-singel-wrapper">
      <div class="container">
        <div class="settings-box">
          <div class="settings-top-content">
            <div class="settings-bg">
              <div class="settings-edit-button-wrapper">
                <a href="{% url 'password_reset' %}" class="edit-button w-inline-block"><div>Password</div><img src="https://assets.website-files.com/632e9fa0dfa1117a99e55716/6337cf9a7b04fd8061c3e64c_Edit%20Icon%20Img.svg" loading="lazy" alt="" class="edit-icon-img" /></a>
              </div>
            </div>
          </div>
          <div class="settings-bottom-content">
            <div class="settings-profile-content">
              <div class="settings-profile">
                <div class="settings-profile-singel">
                  <div class="settings-profile-img-wrapper">
                    <img src="{{user.profile.profilepic.url}}" loading="lazy" alt="" style="width: 200px; height: 200px; border-radius: 110px;" />
                  </div>
                  <div class="settings-profile-name-info">
                    <h2 class="settings-profile-name">{{request.user.username}}</h2><div class="settings-profile-info">{{user.profile.profession}}</div>
                  </div>
                  <div class="settings-profile-buttons-wrapper">
                    <a href="#" class="upload-new-button w-button"> Balance ${{user.profile.balance}}</a><a href="#" class="delete-avatar-button w-button"> Withdrawls ${{user.profile.withdrawl_amount}}</a>
                  </div>
                  <p class="settings-paragraph-text">{{user.profile.bio}}</p>
                  <div class="settings-socal-icons-wrapper">
                    <a href="{{user.profile.facebook}}" target="_blank" class="settings-socal-icon-link-block w-inline-block"><div></div></a><a href="{{user.profile.skpye}}" target="_blank" class="settings-socal-icon-link-block w-inline-block"><div></div></a><a href="{{user.profile.twitter}}" target="_blank" class="settings-socal-icon-link-block w-inline-block"><div></div></a><a href="{{user.profile.linkedin}}" target="_blank" class="settings-socal-icon-link-block mr0 w-inline-block"><div></div></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="settings-content" style="height: 50%;">
              <div data-current="Tab 1" data-easing="ease" data-duration-in="300" data-duration-out="100" class="settings-tabs-wrapper w-tabs">
                <div class="settings-tab-menu w-tab-menu">
                  <a data-w-tab="Tab 1" class="settings-tab-link w-inline-block w-tab-link w--current"><div>Profile</div></a>
                </div>
                <div class="settings-tabs-content w-tab-content">
                  <div data-w-tab="Tab 1" class="settings-tab-pane w-tab-pane w--tab-active">
                    <div class="settings-content-wrapper">
                      <div class="settings-form-wrapper">
                        <div class="settings-form-block w-form">
                           
                            
                            
                            {# Display a form #}
                            {% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
<style>
    /* Custom CSS to change body color to black */
    body {
        background-color:#221e34;
        color: white; /* Change text color to white for better contrast */
    }
    input{
        background-color: #221e34;
    }
</style>
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display a form #}
<form action="{% url 'edit_profile' %}" method="post" class="form" enctype="multipart/form-data" >
  {% csrf_token %}

  {% bootstrap_form u_form      %}
  {% bootstrap_form p_form        %}

  <input type="submit" value="Update Profile" class="settings-button w-button">
    
 
 

</form>
                          <div class="w-form-done">
                            <div>Thank you! Your submission has been received!</div>
                          </div>
                          <div class="w-form-fail">
                            <div>Oops! Something went wrong while submitting the form.</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                   
                
                  
                </div>
              </div>
               
            </div>
          </div>
        </div>
      </div>
    </div>
     
  </div>
            
 {% endblock %}