{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
 
  
 
 <section class="hero-section wf-section">
  <div class="container hero-flex-horizontal" >
    <div data-w-id="8fb64ba4-c08a-677c-909c-b5495cf350dc" class="hero-left">
      <h1 class="hero-title">No Code Only Your Data</h1>
      <p>"No Code, Only Your Data: Empowering You to Build Beautiful Websites Hassle-Free"

         SoftBit Site Builder by highlighting the fact that users don't need to write any code; they can simply leverage their own data to create stunning websites effortlessly.
        
        
        
        
        
        </p>
      <div class="hero-btn-container"><a href="/oursites/" class="filled-btn no-margin-top w-inline-block">
          <div>Explore Features</div>
        </a><a href="#" class="text-btn no-margin-top w-inline-block w-lightbox"><img
            src="https://assets.website-files.com/5f0763bf575ff70f2f96ccaa/5f0878c5cdda7be0958d764c_Video%20Icon.svg"
            alt="" class="text-btn-icon" />
          <div>See How it works</div>
          <script type="application/json" class="w-json">{
            "items": [
            {
              "url": "https://www.youtube.com/watch?v=_1hPFgCEIYs",
              "originalUrl": "https://www.youtube.com/watch?v=_1hPFgCEIYs",
              "width": 940,
              "height": 528,
              "thumbnailUrl": "https://i.ytimg.com/vi/6cc6M36Mzfg/hqdefault.jpg",
              "html": "<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2F_1hPFgCEIYs%3Ffeature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D_1hPFgCEIYs&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2F_1hPFgCEIYs%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" title=\"YouTube embed\" frameborder=\"0\" allow=\"autoplay; fullscreen\" allowfullscreen=\"true\"></iframe>",
              "type": "video"
            }
          ],
          
"group": ""
}</script>
        </a></div>
    </div>
    <div data-w-id="8fb64ba4-c08a-677c-909c-b5495cf350e9" class="hero-right"><img
        src="https://th.bing.com/th/id/OIP.VXCaiej9bJtLCd9r3-bvTwHaE7?w=259&h=180&c=7&r=0&o=5&pid=1.7"
        srcset="https://cdn.pixabay.com/photo/2021/11/04/06/24/ai-6767497_1280.jpg"
        sizes="(max-width: 479px) 90vw, (max-width: 767px) 94vw, (max-width: 991px) 95vw, (max-width: 1279px) 48vw, 616px"
        alt="" class="hero-img" /></div>
  </div>
</section>
<section class="section with-header wf-section">
  <div class="container">
    <div class="companies-grid"><img
        src="https://assets.website-files.com/5f0763bf575ff70f2f96ccaa/5f1a09a25f275d51f0b30861_coinify-white-v2.svg"
        id="w-node-_6517472b-88f2-77b1-99a2-f89ddea12c66-dea12c63" alt="" class="company-grid-img" /><img
        src="https://assets.website-files.com/5f0763bf575ff70f2f96ccaa/5f0763bf575ff740ed96cd06_datamaster-white.svg"
        id="w-node-_6517472b-88f2-77b1-99a2-f89ddea12c67-dea12c63" alt="" class="company-grid-img" /><img
        src="https://assets.website-files.com/5f0763bf575ff70f2f96ccaa/5f1a09ba2cd5b84586da8bfd_nitrosoft-white-v2.svg"
        id="w-node-_6517472b-88f2-77b1-99a2-f89ddea12c68-dea12c63" alt="" class="company-grid-img" /><img
        src="https://assets.website-files.com/5f0763bf575ff70f2f96ccaa/5f0763bf575ff72f7396cd08_momento-white.svg"
        id="w-node-_6517472b-88f2-77b1-99a2-f89ddea12c69-dea12c63" alt="" class="company-grid-img" /><img
        src="https://assets.website-files.com/5f0763bf575ff70f2f96ccaa/5f1a09d4e5052997d568c446_sendbox-white-v2.svg"
        id="w-node-_6517472b-88f2-77b1-99a2-f89ddea12c6a-dea12c63" alt="" class="company-grid-img" /><img
        src="https://assets.website-files.com/5f0763bf575ff70f2f96ccaa/5f0763bf575ff722a296cd01_humble-white.svg"
        id="w-node-_6517472b-88f2-77b1-99a2-f89ddea12c6b-dea12c63" alt="" class="company-grid-img" /></div>
  </div>
</section>
<section id="Features" class="section with-header wf-section">
  <div class="container">
    <h2 class="section-title center">The only analytics tool you&#x27;ll ever need</h2>
    <div class="features-grid">
      <div class="feature-block"><img
          src="https://assets.website-files.com/5f0763bf575ff70f2f96ccaa/5f0883f9a73abc10d8416912_smartphone.svg"
          alt="" class="feature-icon" />
        <div class="feature-title">Fully Responsive</div>
        <p>All our themes are fully responsive. So, your website looks good on any device</p>
      </div>
      <div class="feature-block"><img
          src="https://assets.website-files.com/5f0763bf575ff70f2f96ccaa/5f0884ca0b9da2420aaa2ed4_code-alt.svg" alt=""
          class="feature-icon" />
        <div class="feature-title">Clean Code</div>
        <p>All our themes are fully responsive. So, your website looks good on any device</p>
      </div>
      <div class="feature-block"><img
          src="https://assets.website-files.com/5f0763bf575ff70f2f96ccaa/5f0884ca061c7696c9a45a9e_diamond.svg" alt=""
          class="feature-icon" />
        <div class="feature-title">Professional Design</div>
        <p>All our themes are fully responsive. So, your website looks good on any device</p>
      </div>
      <div class="feature-block"><img
          src="https://assets.website-files.com/5f0763bf575ff70f2f96ccaa/5f0884c9929a1975f8a80c37_window.svg" alt=""
          class="feature-icon" />
        <div class="feature-title">Browser compatibility</div>
        <p>All our themes are fully responsive. So, your website looks good on any device</p>
      </div>
      <div class="feature-block"><img
          src="https://assets.website-files.com/5f0763bf575ff70f2f96ccaa/5f0884c92f28246aa09a1eeb_bolt.svg" alt=""
          class="feature-icon" />
        <div class="feature-title">Smooth interactions</div>
        <p class="feature-text">All our themes are fully responsive. So, your website looks good on any device</p>
      </div>
      <div class="feature-block"><img
          src="https://assets.website-files.com/5f0763bf575ff70f2f96ccaa/5f08859e923ffe5d04119a56_controls.svg" alt=""
          class="feature-icon" />
        <div class="feature-title">Easy To Customize</div>
        <p>All our themes are fully responsive. So, your website looks good on any device</p>
      </div>
    </div>
  </div>
</section>

<section data-w-id="db63639c-ea91-e563-fe81-cd0037787c6c" class="section testimonial-bg wf-section">
  <div class="container">
    
    <div data-delay="4000" data-animation="slide" class="testimonial-slider w-slider" data-autoplay="false" data-easing="ease-in-out-quad" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="4" data-duration="800" data-infinite="true">
    
      <div class="w-slider-mask">
        {% for feedback in feedback  %}
        <div class="testimonial-card w-slide">
          <div class="testimonial-avatar-block">
            <div class="testimonial-avatar avatar-1" style="background-image: url('https://res.cloudinary.com/dm9eqnawe/image/upload/v1/{{feedback.profile_image}}');" ></div>
            <div>
              <div class="testimonial-name">{{feedback.user}}</div>
              <div class="testimonial-name-subline">{{feedback.created_at}}</div>
            </div>
          </div>
          <div class="testimonial-stars" style="display: flex;">
            <img src="https://assets.website-files.com/5f0763bf575ff70f2f96ccaa/5f0a1125321954c86fab1965_Star%20Full.svg" alt="" class="rating-icons" /><img src="https://assets.website-files.com/5f0763bf575ff70f2f96ccaa/5f0a1125321954c86fab1965_Star%20Full.svg" alt="" class="rating-icons" /><img src="https://assets.website-files.com/5f0763bf575ff70f2f96ccaa/5f0a1125321954c86fab1965_Star%20Full.svg" alt="" class="rating-icons" /><img src="https://assets.website-files.com/5f0763bf575ff70f2f96ccaa/5f0a1125321954c86fab1965_Star%20Full.svg" alt="" class="rating-icons" /><img src="https://assets.website-files.com/5f0763bf575ff70f2f96ccaa/5f0a1125de4cdd11be2a6b0a_Star%20Half.svg" alt="" class="rating-icons" />
          </div>
          <p class="testimonial-paragraph">{{feedback.message}}</p>
        </div>
        {% endfor %}
      </div>
      

      <div class="testimonial-slider-arrow-left w-slider-arrow-left" style="margin-top: 5px;">
        <img src="https://assets.website-files.com/5f0763bf575ff70f2f96ccaa/5f08d4db8980840650a95039_arrow-left-white.svg" alt="" />
      </div>
      <div class="testimonial-slider-arrow-right w-slider-arrow-right">
        <img src="https://assets.website-files.com/5f0763bf575ff70f2f96ccaa/5f077a6ea949dfb6a02f5bf6_arrow-right-white.svg" alt="" />
      </div>
      <div class="testimonial-slide-nav w-slider-nav w-round"></div>
    </div>
  </div>
 
  <div class="testimonial-bg-img-block">
    <img src="https://assets.website-files.com/5f0763bf575ff70f2f96ccaa/5f09e1f293b2996d55367a9b_bantersnaps-PTRzqc_h1r4-unsplash-3(1).jpg" srcset="https://assets.website-files.com/5f0763bf575ff70f2f96ccaa/5f09e1f293b2996d55367a9b_bantersnaps-PTRzqc_h1r4-unsplash-3(1)-p-500.jpeg 500w, https://assets.website-files.com/5f0763bf575ff70f2f96ccaa/5f09e1f293b2996d55367a9b_bantersnaps-PTRzqc_h1r4-unsplash-3(1)-p-800.jpeg 800w, https://assets.website-files.com/5f0763bf575ff70f2f96ccaa/5f09e1f293b2996d55367a9b_bantersnaps-PTRzqc_h1r4-unsplash-3(1)-p-1600.jpeg 1600w, https://assets.website-files.com/5f0763bf575ff70f2f96ccaa/5f09e1f293b2996d55367a9b_bantersnaps-PTRzqc_h1r4-unsplash-3(1).jpg 1920w" sizes="100vw" alt="" class="testimonial-bg-img" />
  </div>
  
</section>
<section class="section medium wf-section">
  <div class="container">
    <div class="half-section-flex center-horizontal flex-vertical-on-mobile">
      <div class="half-div full-width-on-mobile">
        <div class="subheading">promo video</div>
        <h2 class="section-title in-half-div">An innovative and dedicated team</h2>
        <div class="video-feature-columns w-row">
          <div class="video-feature-col w-col w-col-6">
            <div class="feature-block no-bg no-padding"><img
                src="https://assets.website-files.com/5f0763bf575ff70f2f96ccaa/5f0c5a3f6632f7c02c656261_shield-blue.svg"
                alt="" class="feature-icon" />
              <div class="feature-title">Military grade server protection</div>
              <p>All our servers are protected in the best way possible to ensure your data is safe</p>
            </div>
          </div>
          <div class="video-feature-col w-col w-col-6">
            <div class="feature-block no-bg no-padding"><img
                src="https://assets.website-files.com/5f0763bf575ff70f2f96ccaa/5f0884c92f28246aa09a1eeb_bolt.svg"
                alt="" class="feature-icon" />
              <div class="feature-title">Codeless</div>
              <p> With 'Codeless,' you can build and customize your website or application without ever having to write a single line of code.Provide You Businees Data Only</p>
            </div>
          </div>
        </div>
      </div>
      <div class="half-div full-width-on-mobile">
        <div class="promo-video-wrapper"><a href="#" data-w-id="9dccf46c-0cf4-06fc-6d4b-6f2b997a8d38"
            class="video-play-btn smaller w-inline-block w-lightbox"><img
              src="https://assets.website-files.com/5f0763bf575ff70f2f96ccaa/5f0c49f2722192c24cd66832_play-white.svg"
              alt="" class="video-play-icon smaller" />
            <div class="video-bg-circle smaller"></div>
            <script type="application/json" class="w-json">{
"items": [
  {
    "url": "https://www.youtube.com/watch?v=_ahGFZu92NU",
    "originalUrl": "https://www.youtube.com/watch?v=_ahGFZu92NU",
    "width": 940,
    "height": 528,
    "thumbnailUrl": "https://i.ytimg.com/vi/6cc6M36Mzfg/hqdefault.jpg",
    "html": "<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2F_ahGFZu92NU%3Ffeature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D_ahGFZu92NU&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2F_ahGFZu92NU%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" title=\"YouTube embed\" frameborder=\"0\" allow=\"autoplay; fullscreen\" allowfullscreen=\"true\"></iframe>",
    "type": "video"
  }
],
"group": ""
}</script>
          </a></div>
      </div>
    </div>
  </div>
</section>
<section class="section medium wf-section">
  <div class="container">
    <div class="metrics">
      <div class="metric-row horizontal">
        <div class="metric-block">
          <div class="metric-icon-block"><img
              src="https://assets.website-files.com/5f0763bf575ff70f2f96ccaa/5f08b4ae8bf3794fc0b5fc08_cursor-white.svg"
              alt="" class="metric-icon offset" /></div>
          <div class="metrics-title">98%</div>
          <div class="metrics-text">CTR Increase</div>
        </div>
        <div class="metric-block">
          <div class="metric-icon-block"><img
              src="https://assets.website-files.com/5f0763bf575ff70f2f96ccaa/5f08b4ae71f6b13325321a17_download-white.svg"
              alt="" class="metric-icon" /></div>
          <div class="metrics-title">+25K</div>
          <div class="metrics-text">Downloads</div>
        </div>
      </div>
      <div class="metric-row horizontal">
        <div class="metric-block">
          <div class="metric-icon-block"><img
              src="https://assets.website-files.com/5f0763bf575ff70f2f96ccaa/5f08b4ae7eb4af3e47de3cca_code-alt-white.svg"
              alt="" class="metric-icon" /></div>
          <div class="metrics-title">871</div>
          <div class="metrics-text">Hours Coded</div>
        </div>
        <div class="metric-block">
          <div class="metric-icon-block"><img
              src="https://assets.website-files.com/5f0763bf575ff70f2f96ccaa/5f08b4ae451af71f65b71904_swap-horizontal-white.svg"
              alt="" class="metric-icon" /></div>
          <div class="metrics-title">2.8x</div>
          <div class="metrics-text">More Traffic</div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="components-header">
    <div class="section-subtitle">Our Pricing</div>
  </div>
</div>
<section class="section with-header wf-section">
  <div class="container">
    <div class="pricing-table-wrapper">
      <div class="highlighted-pricing-table-row"></div>
      <div class="pricing-table-header">
        <div class="toggle-wrapper table">
          <div data-w-id="69eb9a28-8f66-1d04-3554-19df36e955c8" class="toggle-bg table">
            <div class="toggle-btn table"></div>
            
            <div class="toggle-text annually" >Monthly</div>
            <div class="toggle-text monthly">Annually</div>
          </div>
        </div>
        <div class="pricing-table-header-cols w-row">
          <div class="pricing-table-cols w-col w-col-4 w-col-small-4 w-col-tiny-4">
            <div class="pricing-card-header table">
              <div class="pricing-title table">Advertising</div>
              <div class="pricing-table-price-block">
                <div class="pricing-card-price-block table">
                  <div class="pricing-currency v2">$</div>
                  <div class="pricing-price v2">72</div>
                </div>
                <div class="pricing-small-text v2 annually">Per month<br />Billed Monthly</div>
                <div class="pricing-small-text v2 monthly">Per month<br />Billed Monthly</div>
              </div>
              <p class="pricing-table-text">Perfect for Adverising and Grahpic Designer who are just starting out</p>
            </div>
          </div>
          <div class="pricing-table-cols w-col w-col-4 w-col-small-4 w-col-tiny-4">
            <div class="pricing-card-header table middle">
              <div class="pricing-title table">Portfolios</div>
              <div class="pricing-table-price-block">
                <div class="pricing-card-price-block table">
                  <div class="pricing-currency v2">$</div>
                  <div class="pricing-price v2 yearly-price">79</div>
                  <div class="pricing-price v2 monthly-price">Comming Soon</div>
                </div>
                <div class="pricing-small-text v2 annually">Per month<br />Billed Monthly</div>
                <div class="pricing-small-text v2 monthly">Per month<br />Billed Monthly</div>
              </div>
              <p class="pricing-table-text">Special Design For Developer,Researcher and Teachers etc </p>
              <div class="pricing-label table">Popular</div>
            </div>
          </div>
          <div class="pricing-table-cols w-col w-col-4 w-col-small-4 w-col-tiny-4">
            <div class="pricing-card-header table">
              <div class="pricing-title table">Medical</div>
              <div class="pricing-table-price-block custom-pricing">
                <div class="pricing-small-text v2 custom-pricing">
                  
                  <div class="pricing-table-price-block">
                    <div class="pricing-card-price-block table">
                      <div class="pricing-currency v2">$</div>
                      <div class="pricing-price v2">72</div>
                    </div>
                    <div class="pricing-small-text v2 annually">Per month<br />Billed Monthly</div>
                    <div class="pricing-small-text v2 monthly">Per month<br />Billed Monthly</div>
                  </div>
                 
                </div>
              </div>
              <p class="pricing-table-text">A custom-made plan, tailored to your Medical Industery,And Specially Design For Big Hospital,Clinic and Dentist </p>
            </div>
          </div>
        </div>
      </div>
      <div class="pricing-table-category">
        <div class="pricing-table-category-title">
          <div class="pricing-table-section-title">Services</div>
        </div>
        <div class="pricing-table-row">
          <div class="pricing-table-row-title">
            <div class="pricing-card-row mobile-center">
              <div class="pricing-row-text title">Service Portion</div>
            </div>
          </div>
          <div class="pricing-table-row-cols w-row">
            <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4">
              <div class="pricing-table-content">
                <div class="pricing-card-row center">
                  <div class="pricing-row-text">4</div>
                </div>
              </div>
            </div>
            <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4">
              <div class="pricing-table-content">
                <div class="pricing-card-row center">
                  <div class="pricing-row-text">4</div>
                </div>
              </div>
            </div>
            <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4">
              <div class="pricing-table-content">
                <div class="pricing-card-row center">
                  <div class="pricing-row-text">6</div>
                </div>
              </div>
            </div>
          </div>
        </div>
         
      </div>
      <div class="pricing-table-category">
        <div class="pricing-table-category-title">
          <div class="pricing-table-section-title">Features</div>
        </div>
        <div class="pricing-table-row">
          <div class="pricing-table-row-title">
            <div class="pricing-card-row mobile-center">
              <div class="pricing-row-text title">Feature Metrix</div>
            </div>
          </div>
          <div class="pricing-table-row-cols w-row">
            <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4">
              <div class="pricing-table-content">
                <div class="pricing-card-row center">
                  <div class="pricing-row-text">3</div>
                </div>
              </div>
            </div>
            <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4">
              <div class="pricing-table-content">
                <div class="pricing-card-row center">
                  <div class="pricing-row-text">4</div>
                </div>
              </div>
            </div>
            <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4">
              <div class="pricing-table-content">
                <div class="pricing-card-row center">
                  <div class="pricing-row-text">3</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      <div class="pricing-table-category">
        <div class="pricing-table-category-title">
          <div class="pricing-table-section-title">Projects</div>
        </div>
        <div class="pricing-table-row">
          <div class="pricing-table-row-title">
            <div class="pricing-card-row mobile-center">
              <div class="pricing-row-text title">Projects Card</div>
            </div>
          </div>
          <div class="pricing-table-row-cols w-row">
            <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4">
              <div class="pricing-table-content">
                <div class="pricing-card-row center">
                  <div  >4</div>
                </div>
              </div>
            </div>
            <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4">
              <div class="pricing-table-content">
                <div class="pricing-card-row center">
                  <div  >3</div>
                </div>
              </div>
            </div>
            <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4">
              <div class="pricing-table-content">
                <div class="pricing-card-row center">
                  <div  >12</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pricing-table-row">
          <div class="pricing-table-row-title">
            <div class="pricing-card-row mobile-center">
              <div class="pricing-row-text title">User-Friendly</div>
            </div>
          </div>
          <div class="pricing-table-row-cols w-row">
            <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4">
              <div class="pricing-table-content">
                <div class="pricing-card-row center">
                  <div class="pricing-icon table"></div>
                </div>
              </div>
            </div>
            <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4">
              <div class="pricing-table-content">
                <div class="pricing-card-row center">
                  <div class="pricing-icon table"></div>
                </div>
              </div>
            </div>
            <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4">
              <div class="pricing-table-content">
                <div class="pricing-card-row center">
                  <div class="pricing-icon table"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
         
      </div>
      <div class="pricing-table-category">
        <div class="pricing-table-category-title">
          <div class="pricing-table-section-title">Support</div>
        </div>
        <div class="pricing-table-row">
          <div class="pricing-table-row-title">
            <div class="pricing-card-row mobile-center">
              <div class="pricing-row-text title">Priority support</div>
            </div>
          </div>
          <div class="pricing-table-row-cols w-row">
            <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4">
              <div class="pricing-table-content">
                <div class="pricing-card-row center">
                  <div class="pricing-icon table"></div>
                </div>
              </div>
            </div>
            <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4">
              <div class="pricing-table-content">
                <div class="pricing-card-row center">
                  <div class="pricing-icon table"></div>
                </div>
              </div>
            </div>
            <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4">
              <div class="pricing-table-content">
                <div class="pricing-card-row center">
                  <div class="pricing-icon table"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pricing-table-row">
          <div class="pricing-table-row-title">
            <div class="pricing-card-row mobile-center last">
              <div class="pricing-row-text title">Developer Support</div>
            </div>
          </div>
          <div class="pricing-table-row-cols w-row">
            <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4">
              <div class="pricing-table-content">
                <div class="pricing-card-row last center">
                  <div class="pricing-icon table"></div>
                </div>
              </div>
            </div>
            <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4">
              <div class="pricing-table-content">
                <div class="pricing-card-row last center">
                  <div class="pricing-icon table"></div>
                </div>
              </div>
            </div>
            <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4">
              <div class="pricing-table-content">
                <div class="pricing-card-row last center">
                  <div class="pricing-icon table"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pricing-table-footer">
        <div class="footer-empty-cell"></div>
        <div class="pricing-table-header-cols w-row">
          <div class="pricing-table-cols w-col w-col-4 w-col-small-4 w-col-tiny-4">
            <div class="pricing-card-btn-container table"  ><a href="#" hx-get="{% url 'sites_by_category' 1 %}" hx-push-url="{% url 'sites_by_category' 1  %}" hx-target="#change"
                class="outlined-btn pricing-table w-button " style="margin-left: 10px;">View All</a></div>
          </div>
          <div class="pricing-table-cols w-col w-col-4 w-col-small-4 w-col-tiny-4">
            <div class="pricing-card-btn-container table"><a href="" hx-get="{% url 'sites_by_category' 2 %}" hx-push-url="{% url 'sites_by_category' 2  %}" hx-target="#change"
                class="filled-btn pricing-table w-button " style="margin-left: 10px;"  >View All</a></div>
          </div>
          <div class="pricing-table-cols w-col w-col-4 w-col-small-4 w-col-tiny-4">
            <div class="pricing-card-btn-container table"><a href="" hx-get="{% url 'sites_by_category' 3 %}" hx-push-url="{% url 'sites_by_category' 3 %}" hx-target="#change"
                class="outlined-btn pricing-table w-button"style="margin-left: 10px;"  >View All</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section wf-section">
  <div class="container">
    <div class="faq-flex-wrapper">
      <div class="half-div">
        <div class="subheading">We&#x27;re here to help</div>
        <h2 class="section-title in-half-div">Frequently Asked Questions</h2>
      </div>
      <div class="faq-wrapper">
        <div data-hover="false" data-delay="300" class="faq-dropdown w-dropdown">
          <div class="faq-dropdown-toggle w-dropdown-toggle">
            <div class="faq-icon-block">
              <div class="faq-icon-line"></div>
              <div class="faq-icon-line rotate"></div>
            </div>
            <div class="faq-title">Can I get a free demo for one of the premium plans?</div>
          </div>
          <nav class="faq-dropdown-list w-dropdown-list">
            <p class="faq-paragraph">We do not offer free demos for our premium plans because our platform already provides extensive information, including feature Coding and many Expensive Templates.</p>
          </nav>
        </div>
        <div data-hover="false" data-delay="300" class="faq-dropdown w-dropdown">
          <div class="faq-dropdown-toggle w-dropdown-toggle">
            <div class="faq-icon-block">
              <div class="faq-icon-line"></div>
              <div class="faq-icon-line rotate"></div>
            </div>
            <div class="faq-title">Is it possible to cancel my subscription?</div>
          </div>
          <nav class="faq-dropdown-list w-dropdown-list">
            <p class="faq-paragraph">Yes, it is possible to cancel your subscription. If you violate our terms and policies or wish to cancel your subscription before its expiration date, you can request cancellation by contacting our support team. Additionally, subscriptions are automatically canceled upon reaching their expiration date.</p>
          </nav>
        </div>
        <div data-hover="false" data-delay="300" class="faq-dropdown w-dropdown">
          <div class="faq-dropdown-toggle w-dropdown-toggle">
            <div class="faq-icon-block">
              <div class="faq-icon-line"></div>
              <div class="faq-icon-line rotate"></div>
            </div>
            <div class="faq-title">Can I recover my pricing plan after cancelling it?</div>
          </div>
          <nav class="faq-dropdown-list w-dropdown-list">
            <p class="faq-paragraph">No, it is not possible to recover your pricing plan after cancelling it. This is because it does not align with our business logic and operational processes. Once a subscription is canceled, it cannot be reinstated, and users would need to sign up for a new plan if they wish to continue using our services.</p>
          </nav>
        </div>
        <div data-hover="false" data-delay="300" class="faq-dropdown w-dropdown">
          <div class="faq-dropdown-toggle w-dropdown-toggle">
            <div class="faq-icon-block">
              <div class="faq-icon-line"></div>
              <div class="faq-icon-line rotate"></div>
            </div>
            <div class="faq-title">How can SoftBit help my business?</div>
          </div>
          <nav class="faq-dropdown-list w-dropdown-list">
            <p class="faq-paragraph">SoftBit can significantly benefit your business by providing a comprehensive platform for creating professional websites, driving traffic, and enhancing online presence. With our intuitive tools and templates, you can easily design a website that effectively showcases your products, services, and brand identity. By optimizing your site for search engines and integrating with social media platforms, SoftBit helps increase visibility and attract more visitors. Our features for lead generation,  and customer engagement enable you to convert visitors into customers and build lasting relationships. Additionally, our analytics tools provide valuable insights into website performance, allowing you to make informed decisions to grow your business. Overall, SoftBit empowers businesses of all sizes to establish a strong online presence, attract more customers, and achieve their online goals.</p>
          </nav>
        </div>
        <div data-hover="false" data-delay="300" class="faq-dropdown w-dropdown">
          <div class="faq-dropdown-toggle w-dropdown-toggle">
            <div class="faq-icon-block">
              <div class="faq-icon-line"></div>
              <div class="faq-icon-line rotate"></div>
            </div>
            <div class="faq-title">Which pricing plans do you offer and what&#x27;s included?</div>
          </div>
          <nav class="faq-dropdown-list w-dropdown-list">
            <p class="faq-paragraph">We offer a range of pricing plans tailored to meet the diverse needs of businesses. Our affordable plans come with a variety of features to help you create stunning websites that are responsive, user-friendly, and tailored to your specific requirements. With our services projects included, you can easily showcase your offerings and attract potential clients. Our plans also include features such as customizable templates and improve your website's performance. Whether you're a small startup or a large enterprise, we have a pricing plan that fits your budget and business goals.</p>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="cookie-bar">
  <div class="cookie-text">Your Network Information <br> City:{{ data.location.city }}<br> Region:{{data.location.region}}<br> Country{{data.location.country}}<br>Service Provider: {{data.network.autonomous_system_organization}} <br>Network ID: {{data.network.network}}
    <a href="#" target="_blank" class="cookie-link"></a></div><a
    href="#" class="filled-btn no-margin-top no-margin-right close-cookie-bar w-button">Got it</a>
</div>
{% if request.user.is_authenticated %}
<section class="section cta-v3-animation wf-section">
  <div class="container">
    <div class="cta-block v3">
      <div class="cta-title">Please Gave Your Feedback with SoftBit Websites Builder </div>
      
      <div class="btn-container center"><a href="#"
          class="filled-btn-arrow no-margin-top no-margin-right w-inline-block">
          
          <div class="filled-btn-arrow-text"><button id="openModal">Please Gave Your Feedback</button></div>
          <img
            src="https://assets.website-files.com/5f0763bf575ff70f2f96ccaa/5f077a6ea949dfb6a02f5bf6_arrow-right-white.svg"
            alt="" class="filled-btn-arrow-icon" />
        </a></div><img
        src="https://assets.website-files.com/5f0763bf575ff70f2f96ccaa/5f0f2e9a1775b38a290da02b_dashboard_final%20(1).png"
        srcset="https://cdn.pixabay.com/photo/2023/05/21/07/49/blockchain-8008051_1280.jpg" style="margin-bottom: 100px;"
        sizes="(max-width: 479px) 77vw, (max-width: 767px) 81vw, (max-width: 991px) 63vw, (max-width: 1279px) 48vw, 616px"
        alt="" class="cta-img" />
    </div>
  </div>
</section>
{% endif %}
<div id="myModal" class="modal fixed inset-0 flex items-center justify-center hidden">
  <!-- Modal content -->
  <div class="modal-content bg-black text-white p-6 md:p-8 lg:p-10 border border-blue-500 rounded-lg max-w-md w-full relative">
      <h3 class="cta-title text-lg md:text-xl lg:text-2xl mb-4">Your Feedback Helps Us Improve Our Service</h3>
      <button id="closeModal" class="absolute top-0 right-0 mt-2 mr-2 text-white cursor-pointer z-10">
          <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
      </button>
      <form method="post" action="/testimonial/" class="mt-4">
          {% csrf_token %}
          <div class="mb-4">
              <label for="Subject" class="field-label">Give Star Rating</label>
              <select id="Subject" name="star" data-name="Subject" required class="text-field select w-full">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4" selected>4</option>
                  <option value="5">5</option>
              </select>
          </div>
          <div class="mb-4">
              <label for="message" class="field-label">Message</label>
              <textarea placeholder="How can we help you today..." maxlength="5000" id="message" name="message" data-name="Message" class="text-field min-h-24 w-full" required></textarea>
          </div>
          <input type="submit" data-wait="Please wait..." class="filled-btn-arrow w-full" value="Submit">
      </form>
  </div>
</div>

<script>
  // Get the modal
  var modal = document.getElementById('myModal');

  // Get the button that opens the modal
  var btn = document.getElementById("openModal");

  // Get the <span> element that closes the modal
  var span = document.getElementById("closeModal");

  // When the user clicks the button, open the modal
  btn.onclick = function() {
      modal.classList.remove('hidden');
  }

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
      modal.classList.add('hidden');
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.classList.add('hidden');
      }
  }
</script>



{% endblock %}

 