
{% extends 'base.html' %}
{% block title %}SoftBit Website Builder Privacy Policy {% endblock title %}
{% block content %}
  <header class="page-header relative">

    
            <div class="container">
                <div class="page-header-flex-wrap"><a
                        style="background-color:aqua;opacity:0;-webkit-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                        href="#" class="blog-category-label on-blog-page">SoftBit Website Builder Privacy Policy</a>
                      <h1 class="page-header-title">At SoftBit Website Builder, we are committed to protecting your privacy and ensuring the security of your personal information. This Privacy Policy outlines how we collect, use, and safeguard your data when you use our website building platform.

                        <h1> 
                    
                    <div style="opacity:0;-webkit-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                        class="blog-date-and-author-block on-blog-page">
                        <div class="blog-date-and-author-text mute">by</div><a href="#"
                            class="blog-date-and-author-text on-blog-page">{{ detail.developer}}</a>
                        <div class="blog-date-and-author-text mute">Softbit Website Builder</div>
                        <div class="blog-date-and-author-text on-blog-page last">Made By UE SSL Team </div>
                    </div>
                </div>
                
                <div style="-webkit-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
                    class="page-header-img-container"><img
                        style="-webkit-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
                        alt="This is how you write the perfect elevator pitch for your startup"
                        src="https://assets.website-files.com/5f0763bf575ff7f28b96ccb8/5f0cc7f78f3f6d0c9205eeac_tech-staff-at-table-working%20(1).jpg"
                        sizes="(max-width: 479px) 90vw, (max-width: 767px) 94vw, (max-width: 991px) 79vw, (max-width: 1279px) 80vw, 1026.65625px"
                        srcset="https://th.bing.com/th/id/R.3464be618e9e8d4f3ae3d7020787cd6f?rik=rgAqLJgOUGlCQA&pid=ImgRaw&r=0"
                        class="page-header-img" />
                    <div class="page-header-img-overlay"></div>
                </div>
                
        </div>
            </div>
             
        </header>
        
        <div class="section no-padding-top">
            <div class="container">
                <div class="container-small not-relative">
                    <div class="project-rich-text w-richtext">
                        <p> Personal Information: When you sign up for an account, we may collect personal information such as your name, email address, and contact details.
                            Website Usage Data: We collect data on how you interact with our platform, including pages visited, features used, and other usage patterns.
                            Cookies: We use cookies and similar tracking technologies to enhance your browsing experience and analyze website traffic.
                            Personalization: We use your information to personalize your experience on our platform, such as providing tailored content and recommendations.
Communication: We may use your contact information to send you important updates, notifications, or marketing communications.
Analytics: We analyze website usage data to improve our platform, optimize performance, and enhance user experience.
We implement industry-standard security measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction.
Your data is stored securely on our servers and is accessible only to authorized personnel with strict confidentiality obligations.
We do not sell, trade, or rent your personal information to third parties without your consent.
We may share your information with trusted service providers who assist us in operating our platform, conducting business, or servicing you.
We retain your personal information for as long as necessary to fulfill the purposes outlined in this Privacy Policy or as required by law.
You may request deletion of your account and associated data at any time, subject to applicable legal requirements
                        </p>
                        <figure class="w-richtext-align-center w-richtext-figure-type-image">
                            <div><img
                                    src="https://thumbs.dreamstime.com/z/privacy-policy-concept-chart-keywords-icons-77354493.jpg?w=768"
                                    alt="" /></div>
                            
                        </figure>
                        <p> 
                            You have the right to access, update, or delete your personal information. You can manage your preferences and communication settings through your account settings.
You may opt out of receiving marketing communications from us by following the unsubscribe instructions included in each email.
SoftBit Website Builder is not intended for use by children under the age of 13. We do not knowingly collect personal information from children under 13 years old.
We reserve the right to update or modify this Privacy Policy at any time. Any changes will be effective immediately upon posting on our website.
By using SoftBit Website Builder, you consent to the collection, use, and processing of your information as described in this Privacy Policy. If you have any questions or concerns about our privacy practices, please contact us at Infosoftbitsitebuilder@gmail.com.
                        </p>
                         <blockquote> 
                              SoftBit Website Builder Privacy Policy**

At SoftBit Website Builder, we prioritize the protection and security of your personal information. Our Privacy Policy outlines how we collect, use, and safeguard your data to ensure your privacy rights are respected.

We collect personal information, such as your name and email address, when you sign up for an account. This information is used to personalize your experience on our platform and communicate important updates or marketing communications.

Your data is stored securely on our servers, and we implement industry-standard security measures to prevent unauthorized access or disclosure. We do not sell or share your personal information with third parties without your consent, except for trusted service providers who assist us in operating our platform.

You have the right to access, update, or delete your personal information at any time. We also provide options to manage your communication preferences and opt out of marketing communications.

SoftBit Website Builder is not intended for use by children under the age of 13, and we do not knowingly collect personal information from children.

We may update our Privacy Policy from time to time, and any changes will be effective immediately upon posting on our website.

By using SoftBit Website Builder, you consent to the collection, use, and processing of your information as described in this Privacy Policy. If you have any questions or concerns about our privacy practices, please contact us at Infosoftbitsitebuilder@gmail.com                        </blockquote>
                         
                          </div>
                </div>
                 
                 
        </div>
            </div>
        </div>
        {% endblock %}