 {% extends 'base.html' %}
 {% block title %} Search{% endblock title %}
 {% block content %}
 <style>
  .card-link {
    text-decoration: none;
    color: inherit;
    }
    
    .card {
    max-width: 600px;
    background-color: #0b0c10;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    }
    
    .card-content {
    padding: 20px;
    }
    
    .card-title {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 10px;
    }
    
    .card-price {
    color: #45A29E;
    font-size: 1.2rem;
    margin-bottom: 10px;
    }
    
    .card-detail {
    color: #C5C6C7;
    font-size: 1rem;
    margin-bottom: 0; /* Remove default margin */
    }
    
 </style>
  <body class="coming-soon-bg">
    <div class="utility-page-wrapper">
      <div class="utility-page-wrapper-content with-card">
        <img src="https://assets.website-files.com/5f0763bf575ff70f2f96ccaa/5f078598f0a4fd865d7c9833_SoftBit%20-%20Light%20v2.svg" alt="" class="utility-logo" /><div class="coming-soon-page-content">
          <h1 class="coming-soon-title">Wellcome {{request.user.username}} How Can  Help You?</h1><p class="form-helper-text">Please Serach Here What You Want</p>
          <div class="hero-email-form w-form">
            <form  action="/search/"   method="post" class="inline-form flex-vertical-mobile">
                {% csrf_token %}
                <input type="text" class="text-field big w-input" maxlength="256"   data-name="Demo Sign Up Email" placeholder="Search...."   required=""\
                hx-post="{% url 'mainpagesearch' %}" 
                hx-target='#searchResults'
                hx-trigger="keyup changed delay:500ms"
                name="search"
              />
              <input type="hidden" value="Subscribe" data-wait="Please wait..." class="submit-btn no-margin-top full-width-mobile w-button" />
             
        
          </div>
          <div id="searchResults" class="text-white">
          </div>
        </div>
      </div>
    </div>
    <div href="#" class="nav-link-wrap dropdown"><div id="results2"></div></div>
    
     </body>
{% endblock %}
 
