{% if results2 %}
{% for data in results2 %}
    <a href="{% url 'sites_by_category' data.id %}" class="card-link">
        <div class="card">
            <div class="card-content">
                <h3 class="card-title">{{data.name}}</h3>
                <p class="card-detail">{{data.description|slice:":40"}}</p>
            </div>
        </div>
    </a>
{% endfor %}
{% elif results %}
{% for data in results %}
    <a href="{% url 'sitedetail' data.id %}" class="card-link">
        <div class="card">
            <div class="card-content">
                <h3 class="card-title">{{data.name}}</h3>
                <p class="card-price">${{data.price}}</p>
                <p class="card-detail">{{data.description1|slice:":40"}}</p>
            </div>
        </div>
    </a>
{% endfor %}
{% else %}
<p style="color: red;"><b>No search results</b></p>
{% endif %}