{% autoescape off %}
Dear  {{user}},

We are inform you that your Site Purchase Plan {{site_name}} on  Softbit Website Builder was Expired! .
If You Want To Recover Your Site Please Re-Purchase Your Plan.

We are delighted to have you as a valued customer, and we assure you that we are committed to providing you with the highest quality  Website Developer and excellent customer service.

If you have any questions or need further assistance regarding your purchase, please don't hesitate to contact our customer support team at Softbitservice@gmail.com or call us at +9203070033237. We're here to help you!

Thank you once again for choosing Softbit Website Builder. We look forward to serving you again in the future.

Best Regards,

Softbit Website Builder Team

Please Don't Replay Of This Email
{% endautoescape %}